<h1>mysql test</h1>

<form id="database_create" method="post" action="/api/v1/posts">
  Insert new element here:
  ID will be created by the system.
  <label>Title: </label><input type="text" name="title" id="title">
  <label>Content: </label><input type="text" name="content" id="content">
  <label>ID: </label><input type="text" name="id" id="id" placeholder="must be number">
  <input type="submit" value="submit">
  </form>

<ul>
    <% rows.forEach(function(row) { %>
      <li>
        <strong><%= row.id %> is the ID.</strong>
       <%= row.title %> is the title.
         <%= row.content %> is the content.
         <form id="database_update" method="post" action="/api/v1/posts/update/<%= row.id %>">    
          <label><b>To update:
          </b>
          <input type="hidden" name="id" value="<%= row.id %>">
          <label>New title: </label><input type="text" name="title" id="title">
          <label>New content: </label><input type="text" name="content" id="content">    
          </label>    
          <button type="submit">Update</button>
          
      </form> 
        <form id="database_delete" method="post" action="/api/v1/posts/delete/<%= row.id %>">    
          <label><b>To delete:
          </b>    
          </label>    
          <button type="submit">Delete</button>
          
      </form> 
      </li>
    <% }); %>
  </ul>
  <a href="default"></a>